h1{
    font-size: 3em;
    color: rgb(102, 27, 27);
    text-align: center;
    font-style: italic;

}

p{
    font-size:1.7em;
    font-style: italic;
    font-weight: bold;
    
}

a{
    text-decoration : none;
    color: rgb(27, 25, 25);
    display: block;
    margin:15px;
    font-size:1.3em;
    
}

a span{
    color:rgb(211, 48, 48);
    font-style: italic;

}