<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h2{
        text-align: center;
        font-size:2.5em;
        }
        p{
        font-weight:bold;}
        span{
        color:maroon;
        font-weight:normal;
        }
    </style>
</head>
<body>
<h2>Albums:</h2>
<div th:each="album : ${albums}">
    <p>ID: <span th:text=${album.id}></span></p>
    <p>Title: <span th:text=${album.title}></span></p>
    <p>Artist: <span th:text="${album.artist}"></span></p>
    <p>Song Count: <span th:text="${album.songCount}"></span></p>
    <p>Length: <span th:text="${album.length}"></span></p>
    <a th:href=@{${album.imageUrl}}>Image url</a>
    <p>Songs: </p>
    <ul style="display:inline-block" th:each="song : ${album.songs}">
        <li>Song ID: <span th:text=${song.id}></span></li>
        <li>Song Title: <span th:text=${song.title}></span></li>
        <li>Song Length: <span th:text=${song.length}></span></li>
        <li>Track Number: <span th:text=${song.trackNumber}></span></li>
    </ul>
    <hr>
</div>

</body>
</html>