<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <style>
        h1{
        font-size:2.5em;
        text-align: center;
        color:maroon;
        }
        h2{
        text-align: center;
        font-size:2.5em;
        }
        p{
        font-weight:bold;}
        span{
        color:maroon;
        font-weight:normal;
        }
    </style>
</head>
<body>
    <h1 class="error"> Something went wrong! </h1>
    <hr>
    <h2 th:text=${errorMessage}></h2>

</body>
</html>
